services:

  api:
    build: 
      context: ./backend
    volumes:
      - ./backend:/app
    ports:
      - 8080:8080
    environment:
      SHORT_CODE_LEN: ${SHORT_CODE_LEN}
      DATABASE_URL: ${DATABASE_URL}

  db:
    image: postgres
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - 5432:5432
    volumes:
      - ./database:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}