name: Deploy to Server

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:      
      - name: Get Into Repository and Update
        working-directory: /home/ianchu0317/nanolinq
        run: |
          git checkout main
          git pull
      
      - name: Restart containers
        working-directory: /home/ianchu0317/nanolinq
        run: |
          docker compose down 
          docker compose up -d --build